.burger {
  position: relative;
  height: 1.4em;
  width: 1.8em;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  --span-height: 0.15em;
  display: block;
  position: absolute;
  height: var(--span-height);
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
